<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Datos</title>
</head>
<body>
    <!-- Creacion de una base de datos -->
     <!-- id (autoincrementable) fullname(varchar) phone(varchar) email(varchar)-->
    <form action="">
        <input type="text" name="fullname" placeholder="Fullname">
        <input type="text" name="phone" placeholder="Phone">
        <input type="text" name="email" placeholder="Email">

        <button type="submit">guardar</button>
        </button>
    </form>
</body>
</html>